.productMicrosite__contentList {
  padding-bottom: 4em;

  &__list {
    font-size: 0.75em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 -2em;
  }

  &__listItem {
    max-width: calc(100% / 3);
    padding: 0 2em 1em;

    @include max-lg {
      max-width: calc(100% / 2);
    }

    @include max-sm {
      max-width: 100%;
      text-align: center;
    }
  }

  &__itemTitleWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 1em;

    @include max-sm {
      flex-direction: column;
    }
  }

  &__iconImage {
    display: block;
    width: 4em;
    height: 4em;
    margin-right: 0.75em;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 50%;
    text-indent: -9999px;

    @include max-sm {
      margin: 0 0 0.5em;
    }
  }

  & &__itemTitle {
    padding-bottom: 0;
  }
}
