.productMicrosite__contentList {
  padding-bottom: 4em;

  &__list {
    font-size: 0.75em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 -2em;
  }

  &__listItem {
    max-width: calc(100% / 3);
    padding: 0 2em 1em;
  }

  &__itemTitleWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 1em;

    &:before {
      content: '';
      display: block;
      width: 4em;
      height: 4em;
      margin-right: 0.75em;
      background: $lightGrey;
      border-radius: 50%;
    }
  }

  & &__itemTitle {
    padding-bottom: 0;
  }
}
