$leftSide: left;
$rightSide: right;

@mixin contentSide($side) {
  $condition: $side == $leftSide;

  #{'&.#{$side}'} {
    flex-direction: if($condition, row, row-reverse);

    .productMicrosite__halfContentCard__content {
      padding-#{if($condition, $rightSide, $leftSide)}: 5em;

      @include max-md {
        padding: 0 0 1em;
      }
    }

    .productMicrosite__halfContentCard__imageWrapper {
      #{$side}: 50%;

      @include max-md {
        #{$side}: 0;
      }
    }

    .productMicrosite__halfContentCard__imageBackground {
      #{$side}: 0;

      @include max-md {
        #{$side}: -50%;
      }
    }

    @include max-md {
      flex-direction: column;
    }
  }
}

.productMicrosite__halfContentCard {
  position: relative;
  display: flex;
  min-height: 330px;
  margin: 4em 0;

  @include max-md {
    min-height: unset;
  }

  @include contentSide($leftSide);
  @include contentSide($rightSide);

  &__item {
    display: block;
    width: 50%;

    @include max-md {
      width: 100%;
    }
  }

  &__content {
    @include max-md {
      font-size: 75%;
      text-align: center;
    }
  }

  &__imageWrapper {
    position: absolute;
    height: 100%;
    top: 0;

    @include max-md {
      position: relative;
      height: 250px;
    }
  }

  &__imageBackground {
    position: absolute;
    display: block;
    width: 200%;
    height: 100%;
    top: 0;
    background: rgba($lightGrey, 0.2);
    text-indent: -9999px;
  }

  &__image {
    position: relative;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    text-indent: -9999px;
    z-index: 1;
  }
}
