$linkSpace: 0.5em;

.productMicrosite__headerNav {
  flex-grow: 1;
  font-size: 1.2em;

  &__list {
    display: flex;
    flex-direction: row;
    margin: 0 -$linkSpace;
  }

  &__link {
    padding: 0 $linkSpace;
  }
}
