@font-face {
  font-family: 'Corridor';
  font-style: normal;
  font-weight: 400;
  src: url('./Corridor.eot');
  src: local('Corridor'),
    url(./Corridor.eot?#iefix) format("embedded-opentype"),
    url(./Corridor.woff2) format("woff2"),
    url(./Corridor.woff) format("woff"),
    url(./Corridor.ttf) format("truetype")
    url(./CorridorMedium.svg#CorridorMedium) format("svg")
}
@font-face { 
  font-family: 'Corridor';
  font-style: italic;
  font-weight: 400;
  src: url('./CorridorItalic.eot');
  src: local('Corridor Italic'),
    local("CorridorItalic"),
    url(./CorridorItalic.eot?#iefix) format("embedded-opentype"),
    url(./CorridorItalic.woff2) format("woff2"),
    url(./CorridorItalic.woff) format("woff"),
    url(./CorridorItalic.ttf) format("truetype"),
    url(./CorridorItalic.svg#CorridorItalic) format("svg")
}
@font-face { 
  font-family: 'Corridor';
  font-style: normal;
  font-weight: 500;
  src: url('./CorridorMedium.eot');
  src: local("Corridor Medium"),
    local("CorridorMedium"),
    url(./CorridorMedium.eot?#iefix) format("embedded-opentype"),
    url(./CorridorMedium.woff2) format("woff2"),
    url(./CorridorMedium.woff) format("woff"),
    url(./CorridorMedium.ttf) format("truetype"),
    url(./CorridorMedium.svg#CorridorMedium) format("svg")
}
@font-face {
  font-family: 'Corridor';
  font-style: normal;
  font-weight: 700;
  src: url('./CorridorDemiBold.eot');
  src: local("Corridor DemiBold"),
    local("CorridorDemiBold"),
    url(./CorridorDemiBold.eot?#iefix) format("embedded-opentype"),
    url(./CorridorDemiBold.woff2) format("woff2"),
    url(./CorridorDemiBold.woff) format("woff"),
    url(./CorridorDemiBold.ttf) format("truetype"),
    url(./CorridorDemiBold.svg#CorridorDemiBold) format("svg")
}
@font-face {
  font-family: 'Corridor';
  font-style: italic;
  font-weight: 700;
  src: url('./CorridorDemiBoldItalic.eot');
  src: local("Corridor DemiBold Italic"),
    local("CorridorDemiBoldItalic"),
    url(./CorridorDemiBoldItalic.eot?#iefix) format("embedded-opentype"),
    url(./CorridorDemiBoldItalic.woff2) format("woff2"),
    url(./CorridorDemiBoldItalic.woff) format("woff"),
    url(./CorridorDemiBoldItalic.ttf) format("truetype"),
    url(./CorridorDemiBoldItalic.svg#CorridorDemiBoldItalic) format("svg")
}