.productMicrosite__productPreview {
  display: flex;
  flex-direction: column;

  &.small {
    flex-direction: column-reverse;

    .productMicrosite__productPreview__imageWrapper {
      .mediaRatio {
        max-width: 700px;
        margin: 0 auto;
      }
    }
  }

  &__imageWrapper {
    .mediaRatio {
      padding-top: 55% !important;
    }
  }

  &__image {
    object-fit: contain !important;
    object-position: center !important;
  }
}
