.productMicrosite__contentCard {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 4em 0;

  @include max-md {
    font-size: 75%;
  }

  &__wrapper {
    max-width: 650px;
    margin: 0 1em;
    text-align: center;
  }

  &__headline {
    padding-bottom: 0.5em;
  }

  &__text {
    padding: 0;
  }
}
