.carouselFiftyFifty {
  background-size: cover;
  background-position: center center;

  @include max-md {
    .slick-track {
      display: flex;
      align-items: stretch;
    }

    .slick-slide {
      display: flex;
      flex: 1;
      height: unset;
    }
  }

  @include max-xl {
    .slick-track {
      display: flex;
    }
    .slick-slide {
      display: flex;
      height: unset;
    }
  }

  &--prevArrow {
    left: 1.5rem !important;

    @include max-md {
      left: 2.5rem !important;
      width: 16px !important;
      height: 9px !important;

      .prevArrow--top,
      .prevArrow--bottom {
        height: 3px !important;
      }
    }
  }
  &--nextArrow {
    right: 1.8rem !important;

    @include max-md {
      right: 2.8rem !important;
      width: 16px !important;
      height: 9px !important;

      .nextArrow--top,
      .nextArrow--bottom {
        height: 3px !important;
      }
    }
  }
}
